body {
  font-family: 'Bayon', sans-serif;
  font-family: 'Metal', cursive;
  background-color: #F9ECE4;
}

h1,
hr,
h2 {
  color: #44585D;
  text-align: center;
}

p,
li {
  font: 1rem 'Bayon', sans-serif;
  font: 'Metal', cursive;
  list-style-type: none;
  padding: 0px 0px 5px 0px;

}

li:hover {
  border-bottom: 2px solid #000000;
}

p {
  font-weight: bold;
}

.topbar {
  display: flex;
  flex-wrap: wrap;
}

nav {
  margin: 0 auto;
  padding-right: 265px;
  text-align: center;
}

nav a {
  color: #170117;
}

.bodycontent {
  display: flex;
  flex-wrap: wrap;
}

.fullbody {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}


.entirebody {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.image {
  max-width: 1000px;
  max-height: 800px;
  width: "100%";
  padding: 25px;
  justify-content: center;
}

.trendimages {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.easyimage {
  max-width: 350px;
  max-height: 800px;
  padding: 5px;
}

.imgContainer {
  margin-left: 20px;
  border: 5px solid #7C9E7C;
}

.scrolldesigners {
  max-height: 600px;
  overflow: scroll;
  background-color: white;
  padding: 5px;
  border: 5px solid #7C9E7C;
}

.form-group {
  max-height: 200px;
  max-width: 250px;
  overflow: scroll;
  background-color: white;
  padding: 10px;
  display: flex;
  flex-direction: column;
  border: 5px solid #7C9E7C;
}

a:hover {
  color: #03091a
}

.dropdown {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


* {
  box-sizing: border-box
}

.mySlides {
  display: none
}

img {
  vertical-align: center;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: rgb(21, 1, 20);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(238, 228, 235, 0.8);
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.4s;
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

@media only screen and (max-width: 1000px) {

  .prev,
  .next,
  .text {
    font-size: 11px
  }
}


.bags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.bagscontainer {
  margin: 0 auto;
}


#scroll-container {
  border: 3px solid #130319;
  border-radius: 5px;
  height: 100px;
  overflow: hidden;
}

#scroll-text {
  font-family: 'Bayon', sans-serif;
  font-family: 'Metal', cursive;
  height: 100%;
  text-align: center;

  -moz-transform: translateY(100%);
  -webkit-transform: translateY(100%);
  transform: translateY(100%);

  -moz-animation: my-animation 6s linear infinite;
  -webkit-animation: my-animation 6s linear infinite;
  animation: my-animation 6s linear infinite;
}

@-moz-keyframes my-animation {
  from {
    -moz-transform: translateY(100%);
  }

  to {
    -moz-transform: translateY(-100%);
  }
}

@-webkit-keyframes my-animation {
  from {
    -webkit-transform: translateY(100%);
  }

  to {
    -webkit-transform: translateY(-100%);
  }
}

@keyframes my-animation {
  from {
    -moz-transform: translateY(100%);
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }

  to {
    -moz-transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}

@import url('https://fonts.googleapis.com/css2?family=Bayon&display=swap');